.about {
  @include media-desktop-min-993 {
    background-color: #F4F4F4;
    position: relative;
    padding-top: 100px;
    padding-bottom: 71px;
  }

  &__main {
    @include media-desktop-min-993 {
      display: flex;
      max-width: 100%;
      flex-wrap: wrap;
      align-items: flex-start;

    }
  }

  .maintenance {
    &__item {
      display: block;
      width: 100%;
      padding-bottom: 38px;

      @include media-tablet-min-481 {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

      @include media-desktop-min-993 {
        padding-bottom: 15px;
      }
    }

    &__item:not(last-child) {
      @include media-desktop-min-993 {
        padding-bottom: 0;
      }
    }

    &__icon {
      display: block;
      margin: 0 auto;
      padding-top: 36px;
      padding-bottom: 23px;

      @include media-tablet-min-481 {
        display: block;
      }

      @include media-desktop-min-993 {}
    }

    &__title {
      color: #323232;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      padding-bottom: 16px;
      display: block;
      text-align: center;

      @include media-tablet-min-481 {
        color: #323232;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        text-align: inherit;
      }

      @include media-desktop-min-993 {
        color: #323232;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        text-align: inherit;
      }

    }

    &__text {
      color: #848E97;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      display: block;
      text-align: center;
      padding: 0 10px;

      @include media-tablet-min-481 {
        color: #848E97;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        display: block;
        text-align: inherit;
      }

      @include media-desktop-min-993 {
        color: #848E97;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        display: block;
        text-align: inherit;
      }
    }
  }

  .features-title-main {
    &__caption {
      font-weight: bold;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      display: block;
      color: $secondary-color;
      margin-bottom: 32px;

      @include media-tablet-min-481 {
        color: $secondary-color;
        font-weight: bold;
        font-size: 42px;
        line-height: 44px;
        margin: 0 auto;
        padding-bottom: 34px;
      }

      @include media-desktop-min-993 {
        padding: 0;
        display: none;
      }

      &--add {
        display: none;

        @include media-desktop-min-993 {
          display: block;
          font-weight: bold;
          font-size: 40px;
          line-height: 50px;
          text-align: center;
          color: $secondary-color;
        }
      }
    }
  }
}

.title-wrapper {
  margin: 0 auto;
  padding: 0 15px;

  @include media-tablet-min-481 {
    display: block;
    margin: unset;
    width: 78%;
  }
}

.reference-cod {
  overflow: hidden;

  @include media-tablet-min-481 {
    overflow: hidden;
  }

  @include media-desktop-min-993 {
    width: 50%;

  }

  &__icon {
    display: block;
    width: 100vh;
  }
}

.features {
  @include media-desktop-min-993 {
    width: 50%;
    align-items: center;
  }
}

.add-cod-img {
  overflow: hidden;
  display: block;

  &__icon {
    display: block;
    margin-left: auto;

    @include media-desktop-min-993 {
      width: 50%;
      position: absolute;
      right: 0;
      top: 139px;
      max-height: 100%;
      max-width: 100%;
    }
  }
}