.burger-menu {
    width: 25px;
    height: 25px;
    background: url(./img/header/burger-menu.png)center no-repeat;

    @include media-tablet-min-481 {
        display: none;
    }

    &.active {
        background: url(./img/header/burger-menu-active.png)center no-repeat;
    }
}