.buttons-feedback {
  padding-bottom: 120px;
  padding-top: 79px;

  @include media-tablet-min-481 {
    padding-bottom: 159px;
    padding-top: 94px;
  }

  @include media-desktop-min-993 {
    padding-top: 76px;
    padding-bottom: 70px;
  }
}

.revolution-title {
  color: #635C73;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 36px;

  @include media-tablet-min-481 {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    line-height: 42px;
    color: #635C73;

  }

  @include media-desktop-min-993 {
    text-align: center;
    font-weight: bold;
    font-size: 54px;
    line-height: 54px;
    color: #635C73;
  }
}

.revolution-text {
  color: #323232;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  display: block;
  margin-bottom: 36px;

  @include media-tablet-min-481 {
    font-size: 21px;
    line-height: 32px;
  }

  @include media-desktop-min-993 {
    font-size: 21px;
    line-height: 32px;
    text-align: center;
  }
}

.btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    padding: 3px 0 3px 6px;
    font-weight: bold;
    color: #323232;
    cursor: pointer;
    margin: 6px;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
  }

  &__item::after {
    content: "1,397";
    padding: 3px 6px;
    background-color: #fff;
    width: 15px;
    height: auto;
    border-left: 0.5px solid #d5d5d5;
    margin-left: 6px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__item:nth-child(2)::after {
    content: "21,038";
  }

  &__item:nth-child(3)::after {
    content: "4,391";
  }
}

.btn i {
  margin-right: 3px;
}