.header {
    background-color: #27262A;
    padding: 30px 0;

    @include media-tablet-min-481 {
        padding: 22px 0 55px;
    }

    @include media-desktop-min-993 {
        padding: 30px 0;
        position: absolute;
        width: 100%;
        z-index: 1000;
        background-color: transparent;
    }
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-logo {

    &:hover &__text {
        @include media-desktop-min-993 {
            color: $primary-color;
        }
    }

    &:hover &__img {
        @include media-desktop-min-993 {
            background: url(./img/header/header-logo-hover.svg) center no-repeat;
        }
    }

    @include media-tablet-min-481 {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 43px;
        height: 41px;
        background: url(./img/header/header-logo.svg) center no-repeat;

        @include media-tablet-min-481 {
            margin-right: 17px;
        }
    }

    &__text {
        display: none;

        @include media-tablet-min-481 {
            display: inline;
            font-family: $lato;
            font-weight: bold;
            font-size: 24px;
            line-height: 16px;
            text-transform: uppercase;
            color: $secondary-color;
        }

    }


}