.intro {
    background: url(./img/intro/intro-bg.png) center no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 50px;
    position: relative;
    box-sizing: border-box;

    @include media-tablet-min-481 {
        padding-top: 70px;
    }

    @include media-desktop-min-993 {
        padding-top: 160px;
    }

    &__title {
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: $primary-color;

        @include media-tablet-min-481 {
            font-size: 72px;
            line-height: 72px;
        }

        @include media-desktop-min-993 {
            font-size: 82px;
            line-height: 82px;
        }
    }

    &__subtitle {
        font-size: 18px;
        line-height: 24px;
        color: $secondary-color;
        text-align: center;
        margin: 20px 0 15px;

        @include media-tablet-min-481 {
            font-size: 24px;
            line-height: 24px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #848E97;
    }
}

.intro-download {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -50px;
    left: 0;

    @include media-tablet-min-481 {
        bottom: -60px;
    }

    &__btn {
        font-weight: bold;
        font-size: 18px;
        color: $primary-color;
        line-height: 20px;
        background: $secondary-color;
        border-radius: 40px;
        padding: 15px 30px;
        border: 2px solid $secondary-color;
        font-family: 'Montserrat',
            sans-serif;
        cursor: pointer;

        @include media-tablet-min-481 {
            font-size: 21px;
            line-height: 23px;
            padding: 23px 61px;
        }

        &:hover {
            @include media-desktop-min-993 {
                color: $secondary-color;
                background: $primary-color;
                border: 2px solid $secondary-color;
            }
        }
    }

    &__text {
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        margin-top: 13px;
        color: #848E97;
    }

    @include media-tablet-min-481 {
        margin-top: 18px;
    }
}