.price {
  background-color: #4a3b4e;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 100%;
  padding-bottom: 10px;

  @include media-tablet-min-481 {
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    background-image: url("./img/price/background-desctop.png");
  }

  @include media-desktop-min-993 {
    background-image: url("./img/price/background-desctop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.price-title {
  display: block;
  color: $primary-color;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;
  margin-bottom: 14px;
  padding-top: 15px;

  @include media-tablet-min-481 {
    padding-top: 88px;
    margin-bottom: 39px;
  }

  @include media-desktop-min-993 {
    padding-top: 112px;
    margin-bottom: 61px;
  }
}

.price-cards {
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  @include media-tablet-min-481 {
    background-image: url("./img/price/background-desctop.png");
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @include media-desktop-min-993 {
    background-image: url("./img/price/background-desctop.jpg");
    background-repeat: no-repeat;
    display: flex;
  }

  &__item {
    text-align: center;
    max-width: 257px;
    min-height: 457px;
    background-color: #5f5161;
    margin: 0 auto 18px;

    @include media-tablet-min-481 {
      display: block;
      width: calc(50% - 30px);
      margin: 0 15px 18px;
      max-width: 295px;
    }

    @include media-desktop-min-993 {
      width: calc(25% - 30px);
    }

    &--big {
      max-width: 299px;
      min-height: 560px;
      background-color: #473249;

      @include media-tablet-min-481 {
        display: block;
        width: calc(50% - 30px);
        margin: 0 15px 18px;
      }

      @include media-desktop-min-993 {
        width: calc(25% - 30px);
      }

    }
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 97px;
    background-color: #695b6a;
    align-items: center;
    color: $primary-color;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;

    &--big {
      background-color: #3f2d41;
      height: 111px;
    }
  }

  &__main {
    width: 100%;
    display: block;
    padding: 0 20px;


  }


  &__text {
    align-items: center;
    text-align: center;
    color: $primary-color;
    line-height: 18px;
    margin-bottom: 50px;

    &--big {
      margin-bottom: 100px;
    }
  }

  &__price {
    margin-top: 30px;
    display: block;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 84px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;

    &--big {
      font-size: 82px;
      line-height: 84px;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: $primary-color;
    }
  }

  &__period {
    align-items: center;
    text-transform: uppercase;
    color: $primary-color;
  }

  &__divider {
    width: 60px;
    height: 5px;
    display: block;
    margin: 38px auto 30px;
    background-color: $secondary-color;

    &--big {
      margin: 46px auto 40px;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15px;
    background-color: #695b6a;
    padding: 15px 15px;
    border-radius: 30px
  }
}